# created: {{ keepassxcAttribute "AGE Encryption" "creation_date" }}
# public key: {{ keepassxcAttribute "AGE Encryption" "pub_key" }}
AGE-SECRET-KEY-{{ keepassxcAttribute "AGE Encryption" "age_secret_key" }}
